node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-result/trace/
/test-result/html_report/
/test-result/video/
*.log
tests copy/codesignal.test.ts
/.pytest_cache/
